<ol>
  <li ng-repeat="item in $ctrl.items"
   ui-sref="items({shortName: item.short_name})"
   ng-mouseover="hoverActive = true" ng-mouseleave="hoverActive = false">
      {{ item.name }}
      <span ng-show="hoverActive" class="price">
        [ID: {{ item.id }} Short Name: {{ item.short_name }}]
      </span>
  </li>
</ol>

<!-- <div class="panel panel-success">
  <div class="panel-heading">Categories</div>
  <div class="panel-body">
    <p>Click on individual Menu Categories to view the details!!!</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="item in $ctrl.items"
     ui-sref="items({shortName: item.short_name})"
     ng-mouseover="hoverActive = true" ng-mouseleave="hoverActive = false"
     data-toggle="popover" title="{{ item.short_name }}">
        {{ item.name }}
        <span ng-show="hoverActive" class="price">
          [ID: {{ item.id }} Short Name: {{ item.short_name }}]
        </span>
    </li>
  </ul>
</div> -->
